<div class="collapse navbar-collapse show" id="navbarWithDropdown">
  <ul class="navbar-nav">
<nav class="nav nav-pills" id="pills-tab" role="tablist">
  <a class="nav-link active" id="pills-home-tab" data-bs-toggle="chapters" href="chapters" role="tab" aria-controls="chapters" aria-selected="true">Capitulos</a>
  <a> - </a>
  <a class="nav-link active" id="pills-home-tab" data-bs-toggle="drivers" href="drivers" role="tab" aria-controls="drivers" aria-selected="true">Conductores</a>
  <a> - </a>
  <a class="nav-link active" id="pills-home-tab" data-bs-toggle="issues" href="issues" role="tab" aria-controls="issues" aria-selected="true">Emisiones</a>
  <a> - </a>
  <a class="nav-link active" id="pills-home-tab" data-bs-toggle="clothings" href="clothings" role="tab" aria-controls="clothings" aria-selected="true">Ropa</a>
  <a> - </a>
  <a class="nav-link active" id="pills-home-tab" data-bs-toggle="type" href="types" role="tab" aria-controls="type" aria-selected="true">tipos de ropa</a>
  <a> - </a>
  <a class="nav-link active" id="pills-home-tab" data-bs-toggle="brands" href="brands" role="tab" aria-controls="brands" aria-selected="true">Marcas</a>
  <a> - </a>
   <a> <%= render 'shared/user_menu' %> </a> 

</nav>
  </ul>
</div>